.adminhome{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

    height:86vh;
}

.adminhome h1{
    color: rgb(15, 40, 152);
    font-size: 50px
}